<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Hier können alle nachschlagen, wann wer wo spielt und wie wir in der Tabelle stehen. Nachrichten an mich sind möglich!</p>
    <a href="/games/list" class="btn btn-dark btn-lg">Liste der Spiele</a>
</div>
<div class="jumbotron text-center">
    <h1 class="display-2">{{title}}</h1>
    <p class="lead">...und weiter gehts</p>
    <a href="/games/team" class="btn btn-dark btn-lg">Liste der Spieler</a>  
</div>
<div class="jumbotron text-center">
    <h1 class="display-2">{{title}}</h1>
    <p class="lead">...und weiter gehts</p>
    <a href="/games/team" class="btn btn-dark btn-lg">Liste der Spieler</a>  
</div>