<div class="card card-body">
    <h3>Player</h3>
    <form action="/add" method="POST">
        <div class="form-group">
            <label for="playerID">Spielernummer</label>
            <input type="number" class="form-control" name="playerID">
            <label for="lastName">Nachname</label>
            <input type="text" class="form-control" name="lastName">
            <label for="firstName">Vorname</label>
            <input type="text" class="form-control" name="firstName">
            <label for="dateOfBirth">Geburtsdatum</label>
            <input type="date" class="form-control" name="dateOfBirth">
        </div>
        <button type="submit" class="btn btn-primary">Speichern</button>
    </form>
</div>